*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow:hidden
}

a{
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#wrapper{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
}



#wrapper img{
    height: 100%;
    width: 100%;
    opacity: 0.5;
    object-fit: cover;
    animation: zoom 10s;
}

@keyframes zoom{
    0%{
        transform: scale(1.2);
        
    }
    100%{
        transform: scale(1);
        
    }
}


#logo img{
    position: absolute;
    width: 150px;
    height: 90px;
    top: 0;
    margin-left: 5%;
    filter: brightness(150%);
    filter: drop-shadow(2px 5px 2px rgb(49, 49, 49));
    filter: saturate(7);
}


#banner{
    position: absolute;
    top:25%;
    height: 40rem;
    width: 30rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}




.title{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-top: 20%;
}

.title h1{
    margin-left: 10%;
}

.title hr{
    width: 40px;
    margin-left: 10%;
    margin-bottom: 30px;
    font-weight: bold;
    height: 5px;
    background-color:white;
    border: transparent;
}

#fields{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#fields input{
    margin:10px 20px;
    height: 60px;
    width:80%;
    background-color: rgba(90, 89, 89, 0.8);
    border: transparent;
    border-radius: 5px;
    display: flex;
    padding-left: 10px;
    font-size: 12pt;
    outline: none;
    color:rgb(224, 222, 222) ;
}

#fields input::placeholder{
    color: rgb(224, 222, 222);
    padding-left: 5px;
    font-size: 12pt;
}

#fields i{
    margin-top: -50px;
    margin-right: -70%;
    cursor: pointer;
    margin-bottom: 20px;
    color: rgb(224, 222, 222);
}

#fields i#password_visible{
   display: none;
}

#fields i#password_unvisible{
    display: block ;
    
}

#button {
    display: flex;
    justify-content: center;
}

#button a{
    padding: 10px 150px;
}

#button button{
    margin-top: 60px;
    width: 80%;
    height: 50px;
    background-color: #ee000cf1;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

#button button:hover{
    opacity: 0.8;
    transform: translateY(-3px);
    transition: 1s;
}

#checkbox{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(134, 134, 134);
}


#newCliente{
    display: flex;
    margin-top: 20%;
    margin-left: 10%;
    color:rgb(134, 134, 134);
}

#newCliente a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
}

#newCliente a:hover{
    color:  rgb(216, 196, 196);
    transition: 0.5s;
}
